.pricing-dropdown {
    text-align: left;
    text-decoration: none;
    margin:  auto;
    width: 6.3rem;
    padding: auto;
    font-size: 12px;
    border: 1px solid #CCC;
    height: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    
    width: 80%;
    border: none;
    height: 1.7rem;
    text-align: center;   
    
}